* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  margin: 5px;
  display: block;
}
input[type="number"] {
  display: block;
  width: 50px;
  margin: 5px;
}
label {
  margin-left: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}
